apiVersion: apps/v1
kind: Deployment
metadata:
  name: kirby-server
  labels:
    app: kirby-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kirby-server
  template:
    metadata:
      labels:
        app: kirby-server
    spec:
      containers:
        - name: server
          image: kirby-server:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: DEBUG_KIRBY
              value: "0"
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: kirby-server
  labels:
    app: kirby-server
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: kirby-server
